<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Головна сторінка</title>
        <style>
            a{
                text-decoration: none; color: black;
            }
        </style>
    </head>
    <body>
        <button><a href="/university">Університети</a></button>
        <button><a href="/university">Кафедри</a></button>
        <button><a href="/university">Викладачі</a></button>
        <button><a href="/university">Дисципліни</a></button>
        <button><a href="/university">Студенти</a></button>
        <button><a href="/university">Домашні завдання</a></button>
        <button><a href="../../">Головна сторінка</a></button>
    </body>
</html>